*
{
font-family:Century Gothic;
}

p
{
background:#A1CCDF;
border: solid 2px black;
padding:15px;
border-radius:5px;
margin: 20px;
}

body
{
background:linear-gradient(to right,#00000000,#FFFFFF), url(Images/pattern1.png); 
           
}