*
{font-family:Century Gothic;
}

img
{
  max-width: 50%;
  height: 98%;
  border: solid 5px black;
}

ul
{
 list-style-position: inside;
 margin-left: 0;
 padding-left : 40px;
}

body
{
 background-image: linear-gradient(#F4D7E7,white);
}
 
