*
{font-family:Century Gothic;
}
body
{
background: url("Images/bg.png") no-repeat center;
background-size: cover;
}
p
{
background:#FFFFFF80;
border: solid 2px black;
padding:15px; 
border-radius:5px;
margin: 20px;
width:40%;
}